@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .green-radial-gradient {
    @apply bg-gradient-to-tr from-[#43e97b] to-[#38f9d7]
  }
}
